[2017-07-07 23:35] niieani opened #2 "handle undefined `this.worker.stdio` correctly"
Not sure how exactly to reproduce, but I get this half way through a compilation:

[code]

Using Node 8.2.0-rc.1 and latest versions of both `webpack` (3.1) and `thread-loader`.

[2017-07-08 13:44] evilebottnawi commented on #2
@niieani can your provide minimum reproducible test repo?

[2017-07-08 14:22] niieani commented on #2
As I said, I don't know how. This happens on a large closed-source project and I do not know why.
One clue is that it might be somehow connected to STDIO not being properly created for the worker, that's why the destructuring [fails here](https://github.com/webpack-contrib/thread-loader/blob/master/src/WorkerPool.js#L23).

Perhaps it's caused by the kernel exhausting all the named pipes and being

[2017-07-11 11:51] evilebottnawi commented on #2
@niieani without test case it is bad practice, because your can have other invalid/incorrect `configuration`, `loader` and/or `plugins`, need clarify why it is happens, before something doing.

[2017-07-11 13:04] niieani commented on #2
OK, I've found out when `this.worker.stdio` is `undefined` (and thus not an iterable, as the error states), it is when the kernel hits the limit of open files (`ulimit nofile`). It might be worth adding an if statement there to throw a meaningful message instead of breaking the build with an `uncaughtException`.

[2017-07-11 13:14] evilebottnawi commented on #2
@niieani good catch, can your do PR?

[2017-07-11 13:16] niieani commented on #2
@evilebottnawi I've made a bug report to Node, perhaps they can address whether it's a bug on their side or just missing documentation for childProcess instance's `stdio`.

Ref: https://github.com/nodejs/node/issues/14166

[2017-08-25 16:32] KonstantinSimeonov opened #5 "Webpack watcher stops after compilation error when using thread loader"
When using webpack in watch mode with thread loader, compilation errors seem to stop the watch. For an example, if I make a syntax error and save the file, even if I fix it later and save the file again, webpack won't recompile. This scenario works fines when I remove thread-loader from webpack config.

Here is a [sample project](https://github.com/KonstantinSimeonov/curly-potato) that reproduces

[2017-08-28 13:15] sokra commented on #5
fixed

[2017-08-28 13:15] #5 closed

[2017-09-11 04:19] xgz123 opened #7 "error when using with 'awesome-typescript-loader'"
1.  version: 1.1.1  awesome-typescript-loader: 3.2.3

2. error: ` TypeError: Cannot read property 'parentCompilation' of undefined`

[2017-09-11 07:49] johnnyreilly commented on #7
I don't think atl supports thread-loader. You could try using ts-loader (I'm one of the maintainers of it) in `happyPackMode`. (Happypack / thread-loader work in roughly the same way - the name of the option indicates that happypack was there first!)

You can see an example setup here: https://github.com/TypeStrong/ts-loader/tree/master/examples/thread-loader

Oh and it's advisable to combine thre

[2017-09-11 07:56] johnnyreilly commented on #7
Oh - if you do use ts-loader, ensure you also use the fork-ts-checker-webpack-plugin (used in the example). Without the plugin you'll have no type checking.

[2017-09-11 08:12] xgz123 commented on #7
@johnnyreilly Thanks, I will try your advice

[2017-09-11 08:24] xgz123 commented on #7
There was a moment I thought I solved this problem (use atl) and it is really fast(3.5s to 2s).I want  to use atl so I also tried happypack and it works. But about the performance I think thread-loader is better.I hope atl and thread-loader will work together on day.

[2017-09-11 09:32] johnnyreilly commented on #7
I'm surprised it would work with happypack but not thread-loader. Funny...

[2017-09-12 04:29] xgz123 commented on #7
I was wrong ..there are errors in the bundled files (happypack).

[2017-09-12 04:50] johnnyreilly commented on #7
Ah - that makes sense.  You can probably get an understanding of why by reading this post: https://medium.com/webpack/typescript-webpack-super-pursuit-mode-83cc568dea79
(maybe that's how you came to try this out in the first place?)

Essentially, using happypack / thread-loader means that some of the webpack APIs tat ts-loader (and I suspect atl) have relied upon.   These need to be worked around

[2017-09-12 08:32] xgz123 commented on #7
no-threadloader: around 13s
use threadloader: 9-12s
use ftcwp: around 12s

I think I will use ts-loader and thread-loader for now. nice work

[2017-09-12 08:32] #7 closed

[2017-09-13 05:12] johnnyreilly commented on #7
It's worth experimenting with the number of threads you use to get the optimal setup for yourself.  Good luck!

[2017-09-25 18:27] IAMtheIAM opened #9 "Does it work with Webpack-dev-server?"
It appears that thread-loader does not start when running Webpack-Dev-Server builds. Is this by design? When using webpack build, i get a notification for each thread running like this
[code]

But in webpack-dev-server build, no notification happens, and changing the number of `workers` property doesn't affect the build speed.

Versions:
webpack 3.5.6
node: v6.10.0
npm: 3.10.0

[2017-09-25 18:39] IAMtheIAM commented on #9
Actually, it does appear to speed up my build by 2.5 seconds, but it doesn't report the number of threads being used. Maybe that is all that is missing.

[2017-09-27 15:35] #9 closed

[2017-10-05 19:39] sresant opened #10 "Issues with Less-Loader"
Are there any known issues with less loader and the thread loader?

I am getting the following error:

Module build failed: TypeError: Cannot read property 'bind' of undefined
    at createWebpackLessPlugin (/Users/sresan.thevarajah/code/main/node_modules/less-loader/dist/createWebpackLessPlugin.js:37:49)
    at getOptions (/Users/sresan.thevarajah/code/main/node_modules/less-loader/dist/getOption

[2018-02-05 22:22] michael-ciniawsky opened #14 "webpack 4 Support"
<h2 align="center"><a href="https://medium.com/webpack/webpack-4-migration-guide-for-plugins-loaders-20a79b927202">Official Migration Guide for Loaders/Plugins</a></h2>

### TODO

- [x] remove usages of `this.options.context` for  `this.rootContext` (https://github.com/webpack-contrib/thread-loader/blob/master/src/index.js#L21). `webpack >= v4.0.0` removed `this.options` from the Loader API and `t

[2018-02-05 22:33] iansu commented on #14
Hi, I'm interested in doing this.

[2018-02-05 23:09] michael-ciniawsky commented on #14
Feel free to open a PR anytime the it's roughly 'done'  I'm not 💯 if the issue includes everything, but we can triage the rest in the PR :)

[2018-02-05 23:34] iansu commented on #14
Sounds good. 👍

[2018-02-07 22:54] iansu commented on #14
Is there a contributing guide somewhere? I'm also looking for instructions on how to test this loader or loaders in general.

[2018-02-08 10:54] michael-ciniawsky commented on #14
There is no guide atm. `@webpack-contrib/test-utils` (simple webpack wrapper with testing defaults, so one can focus on the tests) is the 'standard' approach for testing `loaders/plugins` an example can be found [here (test structure)](https://github.com/webpack-contrib/html-loader/blob/next/test/loader.test.js)) && [here (test)](https://github.com/webpack-contrib/html-loader/blob/next/test/loader

[2018-02-08 16:16] iansu commented on #14
Okay, I will look into those. As far as the changes here, I've updated `this.options.context` to use `this.rootContext`. Do we need to do anything to make it backwards compatible with older versions of webpack?

For the second change, I don't think there's anything required there. Both `Array` and `Set` have `forEach` methods that work similarly.

[2018-02-08 16:23] michael-ciniawsky commented on #14
`const context = this.rootContext || this.options.context` should be fine

👍

[2018-02-09 02:28] iansu commented on #14
Okay, given all that I think the context changes are the only thing that needs to be done. I haven't got a testing setup yet though. Take a look at the PR and let's take it from there.

[2018-02-17 16:14] jgraniero commented on #10
@sresant did you ever resolve this? I'm having the same issue.

Looks like `createWebpackLessPlugin` is looking for `loadModule` function on `loaderContext`, but it doesn't exist.  I only see this error when using `thread-loader` along with webpack's resolver for `less-loader`.  Seems there is a conditional that checks for `less-loader`'s `paths` option and if it's defined, it doesn't hit the prob

[2018-02-20 17:57] sresant commented on #10
I can't remember if I was able to resolve this, we ended up just sticking with happy-pack.

[2018-02-20 21:07] cspotcode opened #17 "webpack 1 complains thread-loader doesn't return a function"
I'm not sure if you intend to support webpack 1.  When using this loader with webpack 1, I see a warning that `cjs.js` doesn't return a function.  This makes sense; it returns an object with the `pitch` method.

It should be possible for `cjs.js` to return something like this to keep webpack 1 happy:

[code]

I've been able to implement this workaround myself and everything appears to be working.

[2018-02-20 21:22] michael-ciniawsky commented on #17
I'm inclined to say `no`, but in case it's really just the CJS wrapper and the build process being buggy send PR for further triage if you like. For further support and fixing other bugs (especially if clearly related to `webpack v1.0.0` or an outdated `loader`) which may occur, definitely no from my side, but others may (want to) do it

[2018-02-20 21:26] cspotcode commented on #17
I think webpack 1 checks if `typeof loader === 'function'` and generates a warning if not.  In the case of "thread-loader", it's never invoked because it pitches every single time.  So this is a warning that doesn't matter.  If "thread-loader" is updated to return a function (even though the function will never be invoked) then everyone's happy.

[2018-02-21 20:44] #14 closed

[2018-02-25 07:22] dfederm opened #19 "Exception when tslint-loader reports error"
When using tslint-loader and webpack is in watch mode, there's an exception when the tslint-loader reports an error, which crashes the process and stops the watch.

Exception:
[code]

Relevant package versions:
[code]

Subset of webpack.config.js
[code]

[2018-02-25 07:34] dfederm commented on #19
Dug a little deeper. Looks like this is the function where it's throwing:
[code]

And the `err` object being passed to it is `{"message":"[93, 7]: comment must start with a space\n"}`, which doesn't have a stack and thus the nullref.

Seems like a simple null check either in that function or the one that calls it (`WorkerError` ctor) would fix this issue.

[2018-02-26 12:23] stnwk opened #21 "Incorrect peerDependency for webpack 4.x"
When having installed webpack 4.0 and thread-loader 1.1.4, you get the following warning by yarn/npm although webpack 4 is supported?

[code]

[2018-02-26 12:34] evilebottnawi commented on #21
@stnwk Done https://github.com/webpack-contrib/thread-loader/pull/22

[2018-02-26 12:41] stnwk commented on #21
Thank you! :)

[2018-02-26 19:15] #21 closed

[2018-02-26 19:16] #19 closed

[2018-03-05 21:14] cspotcode commented on #17
I discovered another incompatibility with webpack v1, so I'm closing this.  Thanks for your time.

[2018-03-05 21:14] #17 closed

[2018-03-13 15:36] serut opened #23 "File loader fails to emit files when using thread-loader on node 9"
We've upgraded our app to node v9 and we've a new issue that prevents us to use this loader. We can reproduce that error on webpack-dev-server and webpack. Hereunder is a log from webpack that builds our app.

[code]
https://github.com/webpack-contrib/file-loader/blob/e73131fe1986cf930058e8f0868872a4a91d5f31/src/index.js#L10

If I evaluate in the console `this.emitFile`, it prints the real functio

[2018-03-13 15:52] evilebottnawi commented on #23
@serut can you create minimum reproducible test repo?

[2018-03-13 17:32] serut commented on #23
I'm working behind a proxy, so I can't publish easily to github. Hopefully this is straightforward :

`index.jsx`
[code]

`package.json`
[code]

`staticConfiguration.js`
[code]

`webpack.config.js`
[code]

Stacktrace:
[code]

[2018-03-13 17:54] michael-ciniawsky commented on #23
Could you try excluding `staticConfiguration`  from the 'JSX'  rule ?

[2018-03-13 18:03] michael-ciniawsky commented on #23
I can't reproduce the `{Error}`, but if I explicitly declare the files I want to be copied by the `file-loader` it works. The `{Error}` is to be expected when using the `thread-loader` since File I/O isn't available in 'workers'.

![static](https://user-images.githubusercontent.com/5419992/37360653-2c62a754-26f1-11e8-9d9b-cd208ba12c00.png)

[2018-03-13 18:42] serut commented on #23
Yeah yeah I can reverse the order between these two rules and retry. It may works as the file will not be catched anymore by `thread-loader`.

Hmm, strange, it's easily reproduceable on my computer. Are you using npm & node latest versions ?

[2018-03-13 18:54] michael-ciniawsky commented on #23
Any loader that relies on File I/O (`this.emitFile`) (like e.g `file-loader`) will simply not work with `thread-loader`, it's not a bug...

What I exactly meant is getting two similar rules like yours merged to produce the same `{Error}`. If I  declare one rule with `thread-loader!file-loader./file.js` it fails.

Anyways you will need to refactor your config :)

[2018-03-13 18:54] #23 closed

[2018-03-13 19:00] serut commented on #23
Sounds good to me. Something changed with node 9 but we'll never know (maybe that's better ? 😄)

Thanks for the clue.

[2018-03-15 09:24] jtomaszewski commented on #10
@jgraniero's workaround with using `paths` option works well. No need to switching anywhere in that case, thread-loader works fine then ;)

[2018-04-02 10:30] clarkdo opened #24 "Get loader context in loader which is run in thread pool"
@sokra
We are using https://github.com/vuejs/vue-style-loader for loading `.vue` styles and trying to speed css loading up by using `thread-loader`.

But in `vue-style-loader`, it need to access properties in `loader context` like: [target](https://github.com/vuejs/vue-style-loader/blob/master/index.js#L14) and [resourcePath](https://github.com/vuejs/vue-style-loader/blob/master/index.js#L30).

If

[2018-04-03 17:10] sokra commented on #24
These properties could be added to the thread loader. Send a PR

[2018-04-23 11:02] edmorley opened #26 "Emphasise the need to override poolTimeout when watching"
Hi!

As [mentioned here](https://github.com/webpack/webpack/issues/7086#issuecomment-383467496), when watching is enabled (ie the development config with webpack-dev-server) the `poolTimeout` option should be changed from its default of `500` ms to `Infinity` to avoid paying the overhead of worker startup on every rebuild.

This is hinted at in a code comment of the examples section of the docs, h

[2018-04-23 11:29] evilebottnawi commented on #26
@edmorley PR welcome :+1:

[2018-04-30 21:55] Schlesiger commented on #24
I have upgraded to Webpack 4 and am attempting to use `thread-loader` with `mini-css-extract-plugin` and believe I am running into the same issue.

[2018-05-12 12:46] crayon-shin-chan opened #27 "add loaderContext._compiler, is important"
awesome-typescript-loader need access loaderContext._compiler

TypeError: Cannot read property 'parentCompilation' of undefined
    at Object.getRootCompiler (/home/czy/桌面/react-demo/node_modules/awesome-typescript-loader/src/instance.ts:67:15)
    at compiler (/home/czy/桌面/react-demo/node_modules/awesome-typescript-loader/src/index.ts:42:23)
    at Object.loader (/home/czy/桌面/react-demo/node_modu

[2018-05-12 13:16] crayon-shin-chan commented on #27
normal build time  is 5000ms

if  i  do  it like this：
        webpack: true,
        'thread-loader': true
        sourceMap: data.sourceMap,
        _compiler: new Compiler(process.cwd())
it will waste more  time , 15000ms

[2018-05-12 13:17] crayon-shin-chan commented on #27
if it means  threads must share one Compiler?

[2018-06-20 10:47] vertic4l opened #28 "Add silent mode for production builds"
I'm analyzing my webpack bundle size actually, and the profiler always adds 2 lines at the beginning of stats.json which are coming from the thread-loader.

Is there a way to make it silent, or could you add an option?

[2018-06-20 10:51] evilebottnawi commented on #28
PR welcome

[2018-06-20 10:54] vertic4l commented on #28
Nevermind, just realized it's coming from ts-checker-webpack-plugin.

[2018-06-20 10:54] #28 closed

[2018-07-27 13:29] #24 closed

[2018-09-27 07:52] DanielRuf opened #32 "does not find loader-runner when using Yarn PnP"
[code]

[2018-09-27 08:46] michael-ciniawsky commented on #32
Did you add https://github.com/arcanis/pnp-webpack-plugin to your config?

[2018-09-27 08:48] DanielRuf commented on #32
Was this referenced / mentioned somewhere?
Might be better to have PnP support in thread-loader and webpack in general.

[2018-09-27 12:54] arcanis commented on #32
Can you make a quick repro PR on the [pnp-sample-app](https://github.com/yarnpkg/pnp-sample-app) repository? I'll give it a look and can tell you what's breaking, and once it's fixed we can merge the PR as an example 🙂

[2018-09-27 12:56] arcanis commented on #32
As for the PnP Webpack plugin, it's currently needed as [enhanced-resolve](https://github.com/webpack/enhanced-resolve/tree/master/lib) doesn't yet have out-of-the-box support for PnP.

[2018-09-27 14:04] DanielRuf commented on #32
I'll check it this week and see if I can provide a PR to reproduce it in the playground repository.

[2018-10-03 23:54] kevinburke opened #33 "SIGINT causes hang, callbacks never hit"
[Sourcegraph](https://sourcegraph.com) is using thread-loader to build webpack packages. Sending Ctrl+C (SIGINT) to `gulp` while webpack is running causes the process to hang.

I _think_ this is what is happening:

1) thread-loader starts worker subprocesses and starts sending work to them.
2) thread-loader receives work via `pitch()` from webpack, calls `run()`, sends it to subprocess, tries to r

[2018-10-04 18:03] kevinburke opened #35 "Development dependencies don't compile with Node v10.11"
I get a number of errors while compiling `node-sass` (which depends on "nan") and `fsevents`. Both of these versions are fixed in package-lock.json to an older version of the package.

[2018-10-08 19:28] kevinburke commented on #33
I might not have time to revisit this, if not, please see the string of commits at sourcegraph/thread-loader for useful patches to address this issue.

[2018-10-30 22:19] GalmWing opened #37 "webpack build hangs on Windows 10"
Whenever I add thread-loader webpack hangs when building.

I left it overnight just to test and webpack never finished, it should usually come back in less than 1 minute. I've also tried adjusting the number of workers and the poolTimeout to no avail. Removing thread-loader does fix the issue.

I'd like to add that my incremental build (aka webpack --watch) is faster with thread-loader and can kee

[2018-11-19 17:21] gusvargas opened #38 "Support extensible loaderContext"
There have been some issues related to the lack of `loaderContext` provided:

https://github.com/webpack-contrib/thread-loader/issues/10 (`loadModule`)
https://github.com/webpack-contrib/thread-loader/pull/25 (`target`, `minimize`, and `resourceQuery`)

We have a suite of custom webpack plugins and loaders which expose and consume custom APIs. Rather than forking the `thread-loader` to support our

[2018-12-12 20:23] mistic opened #39 "EPIPE: broken pipe and sometimes ERR_STREAM_DESTROYED when Sending Ctrl+C (SIGINT)"
Hello guys,

Sometimes when starting a webpack compilation from the webpack node api, stopping it in the middle with a `Ctrl+C (SIGINT)` generates the following error output for every spawned worker:

[code]

Then the process just hangs until I send a new `Ctrl+C`. Any plans/idea to solve this @evilebottnawi @sokra ? It seems related to https://github.com/webpack-contrib/thread-loader/issues/33 an

[2018-12-13 23:39] kevinburke opened #43 "build currently failing"
The build in Travis CI is currently failing with this error message:

[code]

[2018-12-13 23:40] kevinburke commented on #43
See for example https://travis-ci.org/webpack-contrib/thread-loader/jobs/467770319.

[2018-12-14 04:07] mistic commented on #37
@GalmWing can you provide mor info about the context where your problem is happening like: windows version, shell you're using on windows, full webpack config, how are you calling the webpack ... I've used with success the thread-loader over windows 10 and the default windows shell.

[2018-12-14 04:09] mistic commented on #33
This should be solved by https://github.com/webpack-contrib/thread-loader/pull/36

[2018-12-14 04:09] mistic commented on #39
I'll close this issue as this is solved by https://github.com/webpack-contrib/thread-loader/pull/36

[2018-12-14 04:09] #39 closed

[2018-12-14 04:10] mistic commented on #35
This is solved on https://github.com/webpack-contrib/thread-loader/pull/36

[2018-12-17 09:55] #2 closed

[2018-12-18 08:16] niieani commented on #2
Thanks!

[2018-12-18 14:47] mistic commented on #35
@evilebottnawi we can close this issue

[2018-12-18 14:47] #35 closed

[2018-12-18 14:48] mistic commented on #33
@evilebottnawi we can close this issue now!

[2018-12-18 14:50] #33 closed

[2018-12-18 20:47] jantimon opened #50 "Unit tests never finish if poolTimeout is set to Infinity"
I am setting the `poolTimeout` to `Infinity` which prevents my jest runs from tearing down.

Would it be possible to provide a util function which iterates over all pools and calls `disposeWorkers()`?

[2018-12-18 20:51] jantimon commented on #26
Oh - I wish I would have seen this before.
I just stumbled into the same problem:

Removing thread-loader [decreased the incremental build duration by over 50%](
https://github.com/namics/webpack-config-plugins/issues/24#issuecomment-448297256) because of the booting phase of the workers.

[2018-12-19 12:17] evilebottnawi commented on #50
@jantimon can you test this https://github.com/webpack-contrib/thread-loader/releases/tag/v2.0.1?

/cc @mistic

[2018-12-20 08:43] jantimon commented on #50
Just tested - it is still a problem for my unit tests.
The reason is that my test runner waits until the child processes finish. (Which will never happen for poolTimeout InfinitY)

[2018-12-20 10:45] evilebottnawi commented on #37
@a-aslan try https://github.com/webpack-contrib/thread-loader/pull/52

[2018-12-20 10:59] a-aslan commented on #37
I'll wait until you guys merge and release this PR

[2018-12-20 16:01] evilebottnawi commented on #37
@a-aslan Do you use `WSL`?

[2018-12-20 16:02] jantimon commented on #37
@a-aslan does it work with thread-loader 1.2 ?

[2018-12-20 16:10] mistic commented on #50
@jantimon we have detached the child processes from the main one, it's strange it still happening @2.0.1

[2018-12-20 16:11] mistic commented on #37
@a-aslan are u sure u are running `thread-loader@2.0.1`?

[2018-12-20 16:14] a-aslan commented on #37
@mistic yes, I was running `thread-loader 2.0.1`, I'm gonna try it with `1.2.0` now.

[2018-12-20 16:17] jantimon commented on #37
Had the same problem on mac

[2018-12-20 16:19] mistic commented on #37
@jantimon @a-aslan can you provide some basic setup repo so I can test it?

[2018-12-20 16:19] a-aslan commented on #37
In my prove gifv, I forgot to save the webpack file after i uncommented the thread-loader, but I just retried it, and I can confirm it still works after saving.

[2018-12-20 17:30] mistic commented on #37
@jantimon @a-aslan it should be fixed on https://github.com/webpack-contrib/thread-loader/pull/53

[2018-12-20 17:34] mistic commented on #50
I found a bug @2.0.1 fixed here https://github.com/webpack-contrib/thread-loader/pull/53

It might have fixed your problem here too!

[2018-12-20 19:56] jantimon commented on #50
Wow! Very well done works perfectly :)

[2018-12-20 20:01] mistic commented on #50
@evilebottnawi you can close this issue now :) it's fixed on 2.0.2

[2018-12-20 20:04] #50 closed

[2018-12-21 14:47] jantimon commented on #26
@edmorley this is fixed with #52 :)

[2018-12-21 14:48] evilebottnawi commented on #26
Done in https://github.com/webpack-contrib/thread-loader/pull/52

[2018-12-21 14:48] #26 closed

[2018-12-26 19:30] sohailalam2 opened #55 "Cannot read property 'createChildCompiler' of undefined"
Original Issue at: https://github.com/vuejs/vue-cli/issues/3192

### Vue Cli Version
3.2.1

### Environment info
[code]

### Steps to reproduce
Step 1: Create vue.config.js with the following

[code]

Step 2: `npm run serve`

### What is expected?
Should successfully build the project

### What is actually happening?
 ERROR  Failed to compile with 1 errors

[2018-12-27 09:31] evilebottnawi commented on #55
@sohailalam2 i don't think problem related to `thread-loader`, we don't use `createChildCompiler` in code, please create **minimum reproducible test repo**

[2018-12-27 17:45] sohailalam2 commented on #55
@evilebottnawi Here is a **minimum reproducible test repo** https://github.com/sohailalam2/mrt-vue-comlinkjs-worker-loader

[2018-12-27 17:57] evilebottnawi commented on #55
Close in favor https://github.com/webpack-contrib/worker-loader/issues/177

[2019-01-04 00:17] bdwain opened #56 "process not closing with thread-loader >=2.0.1"
I have an instance of webpack dev server running in a forked process from my main process, and I noticed the fork started sticking around after the main process is closed, when it should be getting closed also. My project uses the thread-loader for babel-loader. The behavior started when I upgraded from thread-loader 2.0.0, and I've narrowed it down to being introduced in 2.0.1, and the only commi

[2019-01-04 12:17] evilebottnawi commented on #56
@bdwain please creare minimum reproducible test repo, thanks

[2019-01-04 15:47] edmorley commented on #26
Many thanks!

[2019-01-05 02:48] kelly-tock commented on #56
same here.

[2019-01-09 21:18] mistic commented on #56
@bdwain @kelly-tock I'm digging on the problem

[2019-01-09 21:40] mistic commented on #56
A PR is up in order to solve the issue https://github.com/webpack-contrib/thread-loader/pull/57

[2019-01-09 22:53] bdwain commented on #56
thank you @mistic !

[2019-01-15 10:07] a-aslan commented on #37
Thanks, forgot to report feedback that in `v2.1.1` the problem is indeed resolved <3

Thanks to `thread-loader` our webpack build time has improved from **2:30** minutes to **45 seconds**!!!

[2019-01-18 20:14] #56 closed

[2019-01-31 04:31] ShinyChang opened #58 "Issue with css-loader when passing options with function prop"
**Environment**

[code]

**Description**
The `getLocalIdent` which is a custom function in the option of css-loader. It appear in the thread-loader option but not in the css-loader option. As below image shows:
![image](https://user-images.githubusercontent.com/1590707/52030560-66e04d80-2553-11e9-9eba-b3201be4ce47.png)

loader configuration:
[code]

It works fine without thread-loader, so I think

[2019-02-03 19:03] sokra commented on #58
This can't be fixed by design. Closures are not transferrable cross thread/process.

But you can move the thread-loader after the css-loader to run sass and postcard in parallel.

[2019-02-04 13:39] ShinyChang commented on #58
Thanks for your reply. I will adjust the order of loaders.

[2019-02-04 13:39] #58 closed

[2019-02-13 22:45] revurirams123 opened #59 ".sourceMap is an alias for .sourceMaps, cannot use both from thread-loader"
Hi I am wondering if the below is from thread-loader, do please let me know what I can do to fix this

I have upgraded babel to below versions in reactjs application.
"babel-core": "7.0.0-bridge.0",
"@babel/core": "^7.2.2",
"@babel/polyfill": "^7.2.5",
"@babel/preset-env": "^7.3.1",
"@babel/preset-react": "^7.0.0",

After this my webpack build is failing with below error

**ERROR in ./src/App.tsx

[2019-02-14 09:47] evilebottnawi commented on #59
/cc @mistic

[2019-02-14 10:11] mistic commented on #59
@revurirams123 can you create a minimal separate repo which can reproduce the problem?

[2019-02-14 14:52] mistic commented on #59
@revurirams123 I just found this is not a problem with the thread-loader but with babel-loader https://github.com/babel/babel-loader/issues/658

You should change the option you have set from using `sourceMap` to `sourceMaps`

[2019-02-14 14:52] #59 closed

[2019-02-14 18:32] revurirams123 commented on #59
Thank you so much for responding, can you please help a bit here, I am not
using sourceMap in my babel.config.js however i have used it in
webpack.config.js for devtool and for loaders like css-loader, sass-loader
..etc , can you please help how to fix this .thanks so much again.
My babel.config.js is as below:

[image: image.png]
And my webpack.config.js (splitted into two screenshots) is as belo

[2019-02-15 13:18] mistic commented on #59
@revurirams123 I really need an example repo in order to be more useful

[2019-02-16 08:42] revurirams123 commented on #59
Thank you so much for responding, i am afraid that it might not work since
i am dependent on internal libraries, those dependencies will not be
downloaded outside my company, can you please take look into provided
snapshots (in below email) and what is wrong with given babel.config.js or
webpack.config.js,

I tired to change source-map to source-maps for devtool in
webpack.config.js but it is thro

[2019-02-16 21:36] mistic commented on #59
I'm not really able to help you without an example repo where you can reproduce the error. Can you try to build an example repo only with the babel configs you have and the webpack config you are using? Otherwise try to search for `sourceMap` and `sourceMaps` and just use always one of the options.

[2019-02-17 04:00] revurirams123 commented on #59
Thank you for replying, i am not using both in babel.config.js, but i used
source-map for devtool in webpack-config.js, please look at the snapshot of
my babel.config.js file below and I further debugged and put extra logging
in node_modules/@babel/core/lib/config/validation, that log message shows
me that presets in options has both sourceMap and sourceMaps as you see
below screenshot, that is wh

[2019-02-18 11:22] mistic commented on #59
Without an example repository reproducing the error to play with, I can't really help too much. Try to upgrade your babel packages (including preset) and babel plugins to the lastest version available.

[2019-02-21 04:33] revurirams123 commented on #59
Hi @mistic after spending so much time, came to know that this extra sourceMap is coming from dependent library which is not yet ported to babel7. I would like to close this issue, thanks so much for analyzing and for your time.

[2019-05-11 16:33] ChrisSG opened #60 "poolRespawn seems to have no (positive) effect"
It seems that poolRespawn does not have the statet effect of improving the build time when running an incremental build. It seems that there even is a significant performance issue (equal to restarting a new thread-pool) when using it instead of a warmup and setting the poolTimeout to Infinity.

What would be the right configuration to get performance improvements on incremental build?

[2019-05-11 17:57] ChrisSG commented on #60
Version differed between package.json and node_modules...........

[2019-05-11 17:57] #60 closed

[2019-05-14 07:24] macisi opened #61 "Consider using worker threads instead of using spawn."
It's the new feature in node 12.x. Maybe it works in older version with some running arguments.

[2019-06-05 14:47] FuncWei opened #66 "Cannot read property 'outputOptions' of undefined"
Compile prompt me：
Module build failed: Thread Loader (Worker 0)
Cannot read property 'outputOptions' of undefined
at PoolWorker.fromErrorObj(...)

[2019-06-05 14:51] evilebottnawi commented on #66
Please use issue template

[2019-06-18 22:47] ElMassimo opened #68 "Error using val-loader"
Using `thread-loader@2.1.2` which is included through `@vue/cli-service@3.8.4`.

When using `val-loader@1.1.1` in the project, the following error occurs:

<details>
<summary>Error trace</summary>
<pre>
ERROR in ./app/javascript/evolve/IconAliases.js
Module build failed (from ./node_modules/@vue/cli-service/node_modules/thread-loader/dist/cjs.js):
Thread Loader (Worker 0)
Cannot read property 'con

[2019-06-19 00:04] ElMassimo commented on #68
Found a workaround, which is to use `post` in the `val-loader` rule, which ensures it gets executed after the `thread-loader` and `babel-loader` rule.

That said, having `undefined.context` in the released code still seems like a bug, any code that hits that codepath would get an error.

[2019-08-13 10:38] AILINGANGEL commented on #56
I still have this problem, my thread-loader version is '2.1.3' and my npm version is '6.9.0'. Help wanted

[2019-08-13 13:31] mistic commented on #56
@AILINGANGEL in order to further investigate this, we need you to provide us a simple repo setup where we can reproduce the problem.

[2019-08-15 16:31] contra opened #75 "serialization?"
Stumbled on it by noticing that my regex's were failing, but raises a larger issue:

<img width="487" alt="Screen Shot 2019-08-15 at 12 18 36 PM" src="https://user-images.githubusercontent.com/425716/63109286-d5688400-bf56-11e9-982c-9b3e8647e6b2.png">

There are plenty of non-JSON values used in loader options that currently break when using thread-loader (regex, dates, functions). It seems like a

[2019-08-16 02:28] leohxj commented on #10
same question.

[2019-09-06 13:40] ianwalter commented on #61
I think worker threads were added in 11.7 actually, but maybe this can take advantage of https://github.com/josdejong/workerpool which has logic to automatically determine if worker threads are supported and use them for a worker pool or otherwise use child_process.

[2019-09-10 14:30] DemonCloud commented on #58
@sokra Thanks very much , the bug when use (thread-loader|cache-loader) with css-loader togather, It will ignore css-loader options as ``getLocalIdent ``

[2019-11-08 10:29] ngryman opened #79 "Issue with `sass-loader` (this.getResolve is not a function)"
Hey folks,

I've facing the following issue with `sass-loader`:
<details>
<summary><b>Error Details</b></summary><br>

[code]

</details>

When I remove `thread-loader` from the loaders chain, it works correctly. Here is a very simple repo to reproduce that issue: https://github.com/ngryman/thread-sass-loaders-bug.

I've also already surfaced that issue in the `sass-loader` repo as I'm not sure wh

[2019-11-08 10:58] evilebottnawi commented on #79
Yes, feel free to send a PR

[2019-11-08 10:58] evilebottnawi commented on #79
Should be very easy to fix

[2019-11-08 14:47] ngryman commented on #79
@evilebottnawi I'd be glad to open a PR but unfortunately I'm not very familiar with `thread-loader` or Webpack's internals. Could you provide me with some help so I can open that PR? Thanks.

[2019-11-08 15:31] evilebottnawi commented on #79
https://github.com/webpack-contrib/thread-loader/blob/master/src/index.js#L23 just add `getResolver: this.getResolver` should be work

[2019-11-26 03:40] meowtec commented on #56
The same problem.  using `ts-loader@6.2.1` + `thread-loader@2.1.3`.

@mistic @evilebottnawi
Here is my minimum sample:
[thread-loader-bug-reproduce.zip](https://github.com/webpack-contrib/thread-loader/files/3889934/thread-loader-bug-reproduce.zip)

[2019-11-30 06:06] kwonoj commented on #61
after I created #81 and realized there are some breaking changes when use worker_threads, pushed bit more PR to spin up working module https://www.npmjs.com/package/webpack-loader-worker . Would be keen on upstream these changes eventually if there are interests, meanwhile publishing as user land module so anyone can give it a try.

[2019-12-04 09:33] anvlkv opened #82 "babel-loader. exclude[0] must be a string/Function/RegExp"
Hi, I'm trying to use thread-loader with babel-loader but I have this error:

I have an exclude option set on bable-loader, but even if i comment it out I have the error.

[code]

[2019-12-05 14:13] max-arias commented on #68
@ElMassimo Got an example? Running into the same issue here.

[2019-12-05 15:30] ElMassimo commented on #68
Using [`webpack-chain`](https://github.com/neutrinojs/webpack-chain):

[code]

The generated rule looks like this:

[code]

[2020-01-03 07:36] helloworldcyj commented on #10
same question.

[2020-01-24 12:41] JFossey commented on #56
@mistic I am also having the same issue with version **2.1.3** when I use `threadLoader.warmup()`.

[2020-03-03 04:03] rainke commented on #79
I use MiniCssExtractPlugin.loader still has the error

[2020-03-03 07:51] rainke commented on #75
yes, the `sass-loader` I set implementation will get Error

[2020-03-03 10:17] rainke commented on #79
should add `getResolve` in here
https://github.com/webpack-contrib/thread-loader/blob/master/src/worker.js#L120

[2020-03-03 19:40] contra commented on #82
Duplicate of #75

[2020-03-09 03:02] aladdin-add opened #84 "support webpack v5"

[2020-03-25 02:36] snayan opened #86 "process.env.NODE_ENV can not pass to child process"
when i use `jest.run` to run my tests, thread-loader can not pass process.env.NODE_ENV to child process. i print process.env.NODE_ENV in main process and child process, such as

![image](https://user-images.githubusercontent.com/18651872/77495451-918e1380-6e83-11ea-91f5-496e045dbb80.png)

explicit pass env，child process will get the correct process.env.NODE_ENV

[code]

[2020-03-28 15:02] duanbaosheng commented on #10
same  question how to solve?

[2020-03-28 15:33] duanbaosheng commented on #10
add path option  to the  less-loader ，like this:
`
lessLoader: {
        loader: 'less-loader',
        options: {
            paths: [
                path.resolve(__dirname, "node_modules")
            ]
        }
    },
`

[2020-03-29 02:18] includeios opened #87 "process not closing with thread-loader 2.1.3"
the question is same as https://github.com/webpack-contrib/thread-loader/issues/56, but my version is 2.1.3, and my webpack configuration like this:

[code]
my vue version is 15.9.0, i do not know if the version of Vue and vue-style-loader affects it

[2020-03-31 17:40] duanbaosheng commented on #10
but  there leads new problem ,,,    in  a less  file ,  @import  '~antd/lib/style/.default.less'  is  not  found ,, i try  many  methods ,  but  all fail.  I  do not know  how  to  do

[2020-04-12 14:02] smiledingvip opened #89 "the option of vue-loader will be missing when use thread-loader"
when i use both of the vue-loader and thread-loader, for some reasons, the vue-loader is not directly in ./node_modules, so i have to manually set the one of the option values of the vue-loader which is called compile，like：
`{
        test: /\.vue$/,
        use: [
          'thread-loader',
          'cache-loader',
          {
            loader: 'vue-loader',
            options: {

[2020-04-12 16:58] MoOx commented on #89
Sorry I have no idea, I don't use any of this loader, nor webpack this days. Not sure why you poke me, but please try to not kind of randomly poke some open source maintainers.

[2020-04-17 22:11] kirill-konshin commented on #84
Is this plugin even required for Webpack 5?

[2020-04-24 09:31] Lsnsh commented on #79
Encountered the same problem, maybe you can look at this issue:
https://github.com/webpack-contrib/sass-loader/issues/761#issuecomment-554608680

[2020-05-14 13:44] janvennemann commented on #89
@smiledingvip you cannot use the `compiler` option when using thread-loader because its value is a function. Loader options need to be serialized so they can be passed into the workers, which will not work for functions.

@MoOx i guess he pinged you because you are a member of webpack-contrib, which this repo belongs to.

[2020-05-15 21:24] ryansully commented on #10
Since [less-loader released 6.0.0](https://github.com/webpack-contrib/less-loader/releases/tag/v6.0.0), thread-loader is now completely incompatible, because `options.paths` has moved to [`lessOptions.paths`](https://github.com/webpack-contrib/less-loader#lessoptions), and trying to use `options.paths` results in a compile error.

[2020-05-15 21:33] ryansully commented on #79
The same error occurs for [less-loader 6.0.0](https://github.com/webpack-contrib/less-loader/releases/tag/v6.0.0).

[2020-06-05 05:07] jerryOnlyZRJ commented on #10
me too

[2020-06-05 08:07] likeavenus commented on #66
Hi, I have the same problem after I abandoned the isomorphic style loader and added a mini css extract pluginin css config:

`import autoprefixer from 'autoprefixer';
import mqpacker from 'css-mqpacker';
import calc from 'postcss-calc';
import partialImport from 'postcss-partial-import';
import postcssUrl from 'postcss-url';
import cssvariables from 'postcss-css-variables';
import mediaVariables f

[2020-06-26 16:46] #82 closed

[2020-07-09 12:48] WzFFzW opened #91 "The emitWarning method should retain an attribute that is a reference to the native WARNING"
The emitWarning method should retain an attribute that is a reference to the native WARNING, just like WEBPACK
thread-loader [link](https://github.com/webpack-contrib/thread-loader/blob/master/src/worker.js#L132)
[code]

webpack [link](https://github.com/webpack/webpack/blob/1bb02df61e/lib/ModuleWarning.js)
[code]

EmitError method is best like this

[2020-07-13 20:19] jlongster opened #92 "Worker process creating forks of itself"
Given my understanding of how this loader works, if I pass it a `workers: 3` option to limit the number of processes to 3, I would expect the process tree to look something like this (inspecting via `pstree`):

[code]

However, what I see in reality is this:

[code]

Is this expected? It looks like the worker process is being forked, but I've looked everywhere and don't see any code that should be

[2020-07-13 21:52] sokra commented on #92
Sounds like you chained to thread-loader.

[code]

[2020-07-14 14:52] dmnsgn opened #94 "Use compiler.inputFileSystem to make thread-loader work with memfs"
I couldn't make thread-loader open a file from memory system as it yielding the following error: `ENOENT: no such file or directory, open`. I assume it has to do with the fact worker.js uses `fs` https://github.com/webpack-contrib/thread-loader/blob/master/src/worker.js#L3.

Would using `_compiler.inputFileSystem` or allowing an option to specify a in-memory file system in the loader allow that?

[2020-07-14 18:34] jlongster commented on #92
Thanks for the response! That's a good call, and while we don't have any code explicitly like that, I think a file is being matched by multiple loaders and they are being combined in a way that acts like that. Just wanted to make sure I wasn't missing with how thread-loader worked.

[2020-07-14 18:34] #92 closed

[2020-07-22 03:06] webxmsj commented on #10
同样的错误

[2020-07-22 23:11] kirill-konshin commented on #84
@sokra can you please suggest if `thread-loader` is useful for Webpack 5 or it can be skipped?

[2020-07-23 05:55] sokra commented on #84
Still useful

[2020-07-23 05:59] kirill-konshin commented on #84
@sokra thank you for clarification. Is there any way I can help to have this fixed, @mistic, any suggestions where to dig?

[2020-07-23 10:51] evilebottnawi commented on #84
@kirill-konshin Just run thread-loader using webpack and catch all bugs

[2020-07-23 18:37] kirill-konshin commented on #84
@evilebottnawi:

I decided to update all versions of plugins and webpack, and now I can't reproduce anymore, because I can't find what versions were used before... :) lessons learned: always dump error message into the issue ASAP, as you may never see it again.

The only thing that I've observed is `<w> [webpack.cache.PackFileCacheStrategy] Caching failed for pack: Error: EBUSY: archive closed, ls

[2020-07-23 18:39] evilebottnawi commented on #84
@kirill-konshin Oh, looks this loader doesn't have compatibility with webpack@5 cache, but it is very weird, can you create reproducible test repo?

[2020-07-23 19:05] kirill-konshin commented on #84
@evilebottnawi looks like it's something else: `<w> [webpack.cache.PackFileCacheStrategy] Caching failed for pack: Error: EBUSY: archive closed, lstat '/node_modules/ajv-keywords'` now... and I can't reproduce it in isolated repo, yet.

[2020-07-24 08:21] aladdin-add commented on #84
I was using `"webpack": "^5.0.0-beta.22"` with the plugin, and it seems working fine. 🎉

[2020-07-24 11:07] evilebottnawi commented on #84
@kirill-konshin Very weird, Maybe you can provide more information?

[2020-07-24 18:07] kirill-konshin commented on #84
@evilebottnawi I was trying to reproduce it in separate project in isolated env, but I can't make it spit this error. I will keep trying various options.

[2020-07-24 18:12] evilebottnawi commented on #84
@kirill-konshin feel free to ping me, because I can't reproduce too :disappointed:

[2020-07-24 21:49] kirill-konshin commented on #84
I have upgraded all Babel and Webpack plugins & presets, and the issue is now gone. And I cannot reproduce it in isolated env too. Maybe it was just a side effect of the combination of libs. I guess we can close this issue.

[2020-07-25 12:33] evilebottnawi commented on #84
@kirill-konshin let's keep open for a while, I will close this after we do new major release (fixes with `getResolve`/ minimum Node.js is 10.13 and etc)

[2020-08-13 13:18] ravencrown opened #96 "Issues with Postcss-Loader"
Are there any known issues with postcss loader and the thread loader?

I am getting the following error:

[code]

My usage looks like
[code]

[2020-08-13 13:28] evilebottnawi commented on #96
Duplicate, problem with `less-loader`

[2020-08-13 13:28] #96 closed

[2020-08-27 09:00] Mrdouhua opened #97 "How to use thread-loader in vue-cli3?"
1. version: 2.1.3
2. My method is config.module.rule('vue').use('thread-loader')
![image](https://user-images.githubusercontent.com/17821353/91423340-00382880-e88b-11ea-939c-56836baa8951.png)

3. Here is a screenshot of the console error
![image](https://user-images.githubusercontent.com/17821353/91423579-4f7e5900-e88b-11ea-9326-baf5aa62b2f1.png)

[2020-09-09 11:10] creage opened #98 "The loader does not apply config after search up the directory tree for configuration"
- Operating System: Windows 10
- Node Version: v14.9.0
- NPM Version: 6.14.8
- webpack Version: 4.44.1
- postcss-loader Version: 4.0.0

### Expected Behavior
I have `postcss.config.js` file in the root of the project, my `webpack.config.js` is imported from `./webpack/app` folder. I expect my `postcss` configuration to be used/applied correctly.

### Actual Behavior
Running webpack ends up with co

[2020-09-09 11:11] evilebottnawi commented on #98
@stefanmaric Yep, but on `thread-loader` :disappointed: `thread-loader` has low priority now, we focus on webpack@5 and compatibility, but this will be fixed, we want to use `thread-loader` as playground for future multithreading in webpack

[2020-09-09 12:39] stefanmaric commented on #98
@evilebottnawi thanks for the tips! I will apply them to test repo as well to have the test case use contrib modules only. I extracted those bits from the project I'm working on which has been maintaining a webpack config in prod since 2016 — it is actually amazing it is not an uglier Frankenstein :smile:

I will take a look at `thread-loader` and see, don't think I'm in capacity to fix it but wil

[2020-09-09 15:01] stefanmaric commented on #98
@evilebottnawi I simplified the test case config as you suggested: https://github.com/stefanmaric/postcss-loader-monorepo-test/commit/018456f44f6980248a2103d29c0f6d2ac1d03071

As well as in the project I'm working with.

Thanks!

[2020-09-11 10:25] #79 closed

[2020-09-12 16:13] evilebottnawi commented on #97
Please ask this question in `vue-cli3` repo

[2020-09-12 16:13] #97 closed

[2020-09-12 16:14] evilebottnawi commented on #10
Please update `less-loader` to latest stable version, feel free to open new issue if you still faced with bug

[2020-09-12 16:14] #10 closed

[2020-09-12 16:55] evilebottnawi commented on #87
@includeios sorry for delay, problem still exist?

[2020-09-12 21:47] #32 closed

[2020-09-21 13:44] MhMadHamster opened #101 "Cannot use latest thread-loader with expose-loader@1.x.x"
- Operating System: Windows 10
- Node Version: 12.13
- NPM Version: yarn 1.12.3
- webpack Version: 4.44.2
- thread-loader Version: 3.0.0

### Expected Behavior
No errors.

### Actual Behavior
Error: `Cannot read property 'hooks' of undefined` occures when building project with exposed ts modules.

### Code

[code]

### How Do We Reproduce?
Repo with example: https://github.com/MhMadHamster/webpack

[2020-10-27 15:02] #84 closed

[2020-11-08 04:51] jsg2021 commented on #61
I wonder if this pool implementation would help?

https://github.com/SUCHMOKUO/node-worker-threads-pool

[2020-11-08 04:57] jsg2021 commented on #94
I am very interested in this as well... it would probably have to stub fs and proxy them to the parent process.

[2020-11-21 17:52] jsg2021 commented on #94
@evilebottnawi @Mesoptier thoughts on this?

[2020-11-21 17:59] jsg2021 commented on #94
I'm wondering if the fs API surface could be proxied to the parent process or at least the methods explicitly defined in the input file system wrapper.

[2020-11-23 11:01] evilebottnawi commented on #94
@jsg2021 we can create wrapper for fs calls, like we do it for `getResolve`

[2020-12-08 19:59] ef4 opened #106 "Webpack 5's "getOptions" is missing"
### Expected Behavior

Loaders that use webpack 5's `this.getOptions()` API should work with thread-loader.

See https://github.com/webpack/webpack/pull/10017

### Actual Behavior

`this.getOptions` is undefined.

### How Do We Reproduce?

Pick any loader that uses `getOptions` from `loader-utils` and modify it to use `this.getOptions` instead. That works when using webpack 5 without thread-loader

[2020-12-08 20:11] alexander-akait commented on #106
PR welcome

[2021-01-04 13:07] arcanis commented on #75
Presumably the right fix is to use the dedicated Node API for complex object serialization:

https://nodejs.org/api/v8.html#v8_serialization_api

[2021-01-04 16:13] contra commented on #75
@arcanis I think that solution would work well for almost every case - serializing functions isn't a thing and I think it will just need to be noted in the docs + have a nice error message that it isn't supported. I do see functions used in loader configs relatively frequently.

[2021-01-14 03:38] irfan-maulana-tkp commented on #106
Adding the Docs: https://webpack.js.org/migrate/5/#getoptions-method-for-loaders

[2021-02-09 17:30] ccabrales commented on #106
Anybody know how to go about fixing this?

[2021-03-19 02:36] Kim1am commented on #87
I got the same problem.
my version is   "thread-loader": "^2.1.2",  "vue-loader": "^15.7.0",
`
  threadLoader.warmup({}, ['vue-loader', 'babel-loader', 'vue-markdown-loader'])
   module: {
    rules: [
      {
        test: /\.js$/,
        exclude: [
          /node_modules/,
          resolve('src/components/el-expand/src/utils/popper.js')
        ],
        use: ['thread-loader', 'babel-loader'

[2021-04-10 13:14] alexander-akait commented on #106
@qnighy Can you help with this, because we need fix compatibility with webpack v5 before release

[2021-04-10 13:27] qnighy commented on #106
@alexander-akait sure, I'll try to reproduce and fix it this weekend.

[2021-04-10 13:41] qnighy commented on #106
Reproduction: https://github.com/qnighy/thread-loader-issue-106

[2021-04-10 13:49] qnighy commented on #106
It also reproduces with `sass-loader@11` so I'm going to update the devDependency in thread-loader and fix the test failure.

[2021-04-10 14:50] qnighy commented on #106
Created a fix https://github.com/webpack-contrib/thread-loader/pull/113 though it's not an optimal solution.

[2021-04-13 11:25] #106 closed

[2021-04-16 16:41] OsvaldoRino opened #114 "doc"
Documentation Is:

- [x] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

### Your Proposal for Changes

[2021-04-17 15:03] alexander-akait commented on #114
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2021-04-17 15:03] #114 closed

[2021-04-29 09:56] icyfe commented on #55
Have you solved this bug?  @alexander-akait

[2021-06-28 09:52] eytienne opened #122 "webpack build hangs with warmup and new cache API"
- Operating System: Alpine 3.12
- Node Version: 14.16.1
- NPM Version: yarn 1.22.5
- webpack Version: 5.38.1
- thread-loader Version: 3.0.4

### Expected Behavior

The build completes.

### Actual Behavior

The build hangs, it never terminates, it stops with `webpack 5.38.1 compiled successfully in XXX ms` but never displays the `Done in XXXs.` neither quits.

### Code

[code]

[code]

### How Do

[2021-06-28 11:13] eytienne commented on #122
I look for a way to access the compiler for a fast fix, just subscribing for the `done` hook but it don't see any way to get the compiler from the warmup function and the pitch function is not triggered at all with cache while debugging. Making a ThreadLoaderWarmupPlugin would solve it through the apply method of the Plugin API but it is a more aggressive patch.

[2021-07-04 08:46] sectsect commented on #122
I have the same problem.

This issue may conflict with `warmup` statement and webpack5 `Persistent Caching`.
Occurs only when the cache is read.

[2021-07-16 20:33] yyx990803 opened #123 "`LoaderContext.mode` is missing when run by `thread-loader`"
- Operating System: macOS 11.4
- Node Version: v16.3.0
- NPM Version: 7.15.1
- webpack Version: 4.46.0 / 5.45.1
- thread-loader Version: 3.0.4

### Expected Behavior

`this.mode` in a loader is consistent when running with or without `thread-loader`

### Actual Behavior

`this.mode` is always `undefined` when running inside `thread-loader`

### How Do We Reproduce?

https://github.com/yyx990803/th

[2021-07-16 21:56] budarin opened #124 "Got " Cannot destructure property 'outputOptions' of 'loaderContext._compilation' as it is undefined." after upgrade to the latest version"
- Operating System: Any
- Node Version: v16.0.0
- NPM Version: 7.10.0
- webpack Version:^5.45.1
- css-loader Version:6.0.0

### Expected Behavior

compile styles

### Actual Behavior

got the error

### Code
client config

[code]
server config

[code]

### How Do We Reproduce?
upgrade the loader from 5.2.6 to the latest version

[2021-07-17 13:30] alexander-akait commented on #123
PR welcome :+1:

[2021-07-17 13:50] alexander-akait commented on #124
I recommend do not use `thread-loader`, more often it only slows down build time, try to remove it and better enable cache `cache: { type: "filesystem" }`

[2021-07-17 21:11] budarin commented on #124
thank you for the advice - I deleted the thread-loader and everything was assembled without errors!

[2021-07-17 21:11] #124 closed

[2021-07-21 03:41] juandavidkincaid commented on #122
+1

[2021-07-30 06:28] ThomasChan commented on #87
same problem, and i was using thread-loader and eslint，and i tried modify eslint cli's `process.exitCode =` to `process.exit(code)` ， problem gone.

[2021-08-11 09:44] jslq commented on #94
not resovled yet?

[2021-09-02 03:12] Omelettesheep opened #128 "Cannot destructure property `outputOptions` of 'undefined' or 'null'"
I put a demo here, It can repreoduce the bug
https://github.com/Omelettesheep/bugDemo

**My config**
![image](https://user-images.githubusercontent.com/26002692/131775404-342ff0da-f2a3-4f2d-a205-7dd157023e05.png)

**Error**
![image](https://user-images.githubusercontent.com/26002692/131775639-bce3c8c6-0c57-4aa4-9732-9cf078c5525c.png)

I add thread-loader to the config and the error occurs

[2021-09-02 10:37] Omelettesheep commented on #128
Do not use thread-loader in any case? what about with babel-loader~

[2021-09-02 10:40] alexander-akait commented on #128
You will get more perf when you will use `cache.type: "filesystem"`, built-in parallelization in our roadmap, but using this loader you more get decrease, try to remove it and cache and check it

[2021-09-02 19:39] AprilArcus commented on #66
Similar error originates here, in the case of css modules.

https://github.com/webpack-contrib/css-loader/blob/v6.2.0/src/utils.js#L530

The `loaderContext` passed to `getModulesOptions` does not have a `_compilation` key. It originates as the loaders `this` https://github.com/webpack-contrib/css-loader/blob/v6.2.0/src/index.js.

[2021-09-05 09:56] csywweb opened #129 "babel-loader.plugin[0] must be a string, object, function"
- Operating System:  MacOs 11.4
- Node Version: 10.23.0
- NPM Version: 6.14.8
- webpack Version: 4.44.1
- thread-loader Version:2.1.3

### Actual Behavior

Hi, I'm trying to use thread-loader with babel-loader but I have this error:
[code]

### Code

[code]
plugin slot is my custom plugin like this:
[code]

when i remove the thead-loader, everything is ok

[2021-11-02 04:20] hszhsh commented on #122
+1

[2021-11-09 07:44] robothot commented on #10
@alexander-akait

-  "less": "^4.1.2",
- "less-loader": "^10.2.0",
- "thread-loader": "^3.0.4"

[code]

webpack config

[code]

[2021-12-15 08:54] malash commented on #61
I forked the latest version of `thread-loader` and refactored it with `worker_threads`. https://github.com/malash/thread-loader-issue-61/pull/1

It could 100% work in my Webpack projects, which means no error is emitted when bundling and the output is correct.

For better performance I didn't introduce any thread pool library, but only modified the `src/WorkerPool.js` with native `worker_threads`.

[2021-12-15 14:54] jsg2021 commented on #61
I would think you would need more than 3 workers to see any real difference.

[2021-12-15 15:07] alexander-akait commented on #61
Also do you warn up?

The main problem is not in webpack, webpack is pretty fast in most of cases, babel/sass/tsc are bottlenecks in much of projects, try to remove `babel-loader` (if you use it) and look at performance

[2021-12-15 15:09] alexander-akait commented on #61
Locally I do some benchmark with multi threading (tried rewrite it on `jest-worker` and `worker_thread` too) and most often it gives a very small performance gain for most projects, `cache`  speed ups better your projects https://webpack.js.org/configuration/cache/

[2021-12-17 07:13] malash commented on #61
@jsg2021 I tried 3 workers, 5 workers and more, and got same result. In fact, as the number of workers increased, the total build time may even increase.

As a reference, here is a benchmark result when I enabled `thread-loader` in 2020 Q1.

![image](https://user-images.githubusercontent.com/1812118/146503513-bb4413af-e205-4f2f-957c-c653b4d7a442.png)

[2021-12-17 07:19] malash commented on #61
@alexander-akait Webpack 5 `cache` is great. It reduces a lot of CPU time after the first build. But it still has some problem:

1. The first build is still slow, because the cache is empty.

2. I cannot enable warn up when using `cache` because of this issue https://github.com/webpack-contrib/thread-loader/issues/122

Here is my [full `webpack.config.js`](https://github.com/airbnb/goji-js/blob/fe

[2021-12-17 10:47] alexander-akait commented on #61
@malash Can you profile code? Maybe we can find the slowest places

[2021-12-17 18:17] jsg2021 commented on #61
@malash The Xeon scenario is more in line with what this loader is for. High-core-count CPUs. Also, If you use more workers than your CPU has cores the perf will go down as you noticed with the i7. (Hyperthreading cores sometimes don't scale the same)

The perf may also depend on how your project is arranged.

Anyways, IMO, this loader is still valuable and worth improving.

[2022-01-04 17:04] #68 closed

[2022-01-21 05:05] rodoabad opened #134 "Unclear on Documentation"
The documentation says the following.

[code]

But what if you have multiple loaders?

[code]

Do I need one on each loader?

[code]

[2022-02-17 07:15] yxw007 opened #135 "UnhandledPromiseRejectionWarning: TypeError: loaderContext.getLogger is not a function"
- Operating System: win10
- Node Version: v14.14.0
- NPM Version: 6.14.8
- webpack Version: 5.68.0
- thread-loader Version: 3.0.4

### Expected Behavior

Normal use thread-loader

### Actual Behavior

![image](https://user-images.githubusercontent.com/9338717/154421065-0ed69a62-6571-4541-967b-939808fa1ea0.png)

### Code

[webpack.config.js](https://github.com/yxw007/webpack-thread-loader-test/blob

[2022-02-25 15:32] lishichao1002 commented on #27
+1

[2022-03-08 14:39] deepaktatineni commented on #122
I have faced this issue. I have created a test repo to replicate the issue [here ](https://github.com/deepaktatineni/webpack-reproduce)

This took forever for me to debug. Removing pre-warmup resolved the issue.

Node: 10.16

[2022-03-14 05:50] AprilArcus commented on #135
see https://github.com/webpack-contrib/sass-loader/issues/1016

[2022-03-15 07:51] huangyingzheng commented on #10
same question.

[2022-05-13 07:12] Kujo-Jotaro-AAAAA opened #141 "How to use thread in craco?"
How to use thread-loader in craco?

[code]

But,It won't work

error message: Error: Can't find a 'oneOf' rule under module.rules in the production webpack config!

[2022-08-08 03:16] LeoJ-cn commented on #129
To work properly, you need to do something like
`   use: [
      //   'cache-loader',
      "thread-loader",
      {
        loader: "babel-loader",
        options: {
          presets: ["react-app", { flow: false, typescript: true }],
          plugins: [

            require.resolve(${YourPluginPath}), // like this

            "add-module-exports",
            "@babel/plugin-proposal-export-de

[2022-08-08 03:19] LeoJ-cn commented on #129
If you want to work properly, you need to modify the way the custom plugin is used like this

`slot  =>  require.resolve({YourBabelPluginPath})`

[2022-08-09 07:47] alvin0216 commented on #129
the same problem：

webpack 5.65
react 17.0.2

<img width="876" alt="image" src="https://user-images.githubusercontent.com/34113677/183594098-1848a2e1-ae37-461c-8d78-2242582f2b08.png">

[2022-08-15 02:53] LeoJ-cn commented on #129
I need to look at the configuration of babel-loder, you are hiding it

[2022-08-15 02:53] LeoJ-cn commented on #129
I need to look at the configuration of babel-loder, you are hiding it

[2022-08-24 13:56] damianstone commented on #82
Anyone has the solution??

[2022-08-30 06:39] yxw007 commented on #135
版本问题，找一个以前可用的版本吧

[2022-08-30 14:54] JX-Zhuang commented on #135
你用的哪个版本

[2022-08-30 14:55] JX-Zhuang commented on #135
你用的哪个版本可以解决

[2022-09-02 06:25] #135 closed

[2022-09-10 06:22] ViavaCos opened #149 "Cannot read properties of undefined (reading 'hooks')"
- Operating System: Windows 10 x64
- Node Version: v16.15.0
- NPM Version: 8.5.5
- webpack Version: 4.28.4
- thread-loader Version: 2.1.3

When i use `thread-loader` with `ts-loader` and there will have some error occur:

[code]

I have try to update  `thread-loader`  to version `3.0.4` but still not work.

You can find more information as below:

https://github.com/ViavaCos/error-with-ts-loader-a

[2022-09-12 04:17] ViavaCos commented on #149
I found resolution in ts-loader issue.

For others who has same problem with me :)
https://github.com/TypeStrong/ts-loader/issues/1242

[2022-09-12 04:17] #149 closed

[2022-09-17 03:56] pedro-abundio-wang commented on #87
Me too! How to solve this problem?

[2022-10-03 13:00] vgurkov commented on #10
I'm experiencing the same. This would have been very helpful. Hopefully https://github.com/webpack-contrib/thread-loader/pull/130 lands soon

[2022-10-26 18:55] dodo0822 opened #150 "Avoid loader-utils vulnerability by dropping webpack 4 support"
- Operating System: macOS 12.6
- Node Version: `v14.18.0`
- NPM Version: `8.19.2`
- webpack Version: `5.74.0`
- thread-loader Version: `3.0.4`

### Expected Behavior / Situation
Webpack 5 API has the `loaderContext.getOptions` to get loader options. We should be using it to minimize external dependencies.

### Actual Behavior / Situation
`loader-utils` is being used to get the loader options: http

[2022-11-30 08:15] yeild opened #154 "Not work with webpack-virtual-modules"
Please see these issues:
https://github.com/storybookjs/storybook/issues/9515
https://github.com/nuxt-community/storybook/issues/102
https://github.com/storybookjs/storybook/issues/12864
![image](https://user-images.githubusercontent.com/23716085/204741977-aee88999-67b2-490f-a22a-eda8a9b18ca6.png)

seems they try not to use thread-loader, as a workaround.

So is there anyway I can use `thread-load